.word-card {
}

.word-card .word-card-body {
  margin: auto;
  background-color: rgb(255, 255, 255);
  width: 50%;
  border: 3px solid rgb(12, 51, 117);
  border-radius: 50px;
  color: black;
  text-align: center;
}
